cffi==1.14.3
Brotli==1.0.9
BeautifulSoup==3.2.2
blinker==1.4
cchardet==2.1.7
cElementTree==1.0.2-20050302
coverage==5.3
dataclasses==0.8
elementtree==1.2.6-20050316
gdb==0.0.1
greenlet==0.4.17
Image==1.5.33
importlib_resources==3.3.0
ipython==7.19.0
Parser==0.1
pathlib2==2.3.5
Pillow==8.0.1
pluggy==0.13.1
pretty==0.1
pyfakefs==4.3.0
Pygments==2.7.2
pytest==6.1.2
python-dotenv==0.15.0
python_bcrypt==0.3.2
pythran==0.9.7
runtests==0.0.28
testpath==0.4.4
unittest2==1.1.0
watchdog==0.10.4
